{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title>Marks</title>
    {% include 'parts/cssfiles.html' %}
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    {% include 'parts/_sidebar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {% include 'parts/_navbar.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Marks</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th> User</th>
                                            <th> Username</th>
                                            <th> Email</th>
                                            <th> Title</th>
                                            <th> Gravity</th>
                                            <th> Created at</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dat in data %}
                                            <tr>
                                                <td class="py-1">
                                                    <img src="{% static 'assets/images/faces-clipart/pic-1.png' %}"
                                                         alt="image"/>
                                                </td>
                                                <td> {{ dat.user.username }}</td>
                                                <td> {{ dat.user.email }}</td>
                                                <td> {{ dat.name }}</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar {% if dat.gravity <= 30 %} bg-success {% elif  dat.gravity > 30 and dat.gravity < 70 %} bg-warning {% else %} bg-danger {% endif %} "
                                                             role="progressbar"
                                                             style="width: {{ dat.gravity }}%; "
                                                             aria-valuenow="{{ dat.gravity }}" aria-valuemin="1"
                                                             aria-valuemax="10"></div>
                                                    </div>
                                                </td>
                                                <td> {{ dat.created_at }}</td>
                                                <td>
                                                    <a href="/admins/marks/edit/{{ dat.id }}" class="btn btn-sm btn-success ">Update</a>
                                                    <a href="" class="btn btn-sm btn-danger ">Delete</a>

                                                </td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% include 'parts/_footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
{% include 'parts/jsfiles.html' %}
</body>
</html>