{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title>Marks</title>
    {% include 'parts/cssfiles.html' %}
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    {% include 'parts/_sidebar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {% include 'parts/_navbar.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit user</h4>
                                <form class="form-sample" method="POST" action="/admins/users/edit/{{ form.id.value }}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.user }}
                                    <p class="card-description"> General information </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">{{ form.username.label }}</label>
                                                <div class="col-sm-9">
                                                    {{ form.username }}
                                                    <div class="text-danger text-small">
                                                        {{ form.username.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">{{ form.email.label }}</label>
                                                <div class="col-sm-9">
                                                    {{ form.email }}
                                                    <div class="text-danger text-small">
                                                        {{ form.email.errors }}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description"> Password </p>
                                    <div class="row">
                                        <label class="col-sm-3 col-form-label"
                                               for="changepassword">Change Password</label>
                                        <div class="col-sm-9">
                                            <input type="checkbox" name="changepassword" id="changepassword"/>
                                        </div>
                                    </div>
                                    <div class="row  passwordarea mt-4" etat="hidden" style="display: none">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label"
                                                       for="description">{{ form.password.label }}</label>
                                                <div class="col-sm-9">
                                                    {{ form.password }}
                                                    <div class="text-danger text-small">
                                                        {{ form.password.errors }}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

{#                                        <div class="col-md-6">#}
{#                                            <div class="form-group row">#}
{#                                                <label class="col-sm-3 col-form-label">{{ form.verifypassword.label }}</label>#}
{#                                                <div class="col-sm-9">#}
{#                                                    {{ form.verifypassword }}#}
{#                                                    <div class="text-danger text-small">#}
{#                                                        {{ form.verifypassword.errors }}#}
{#                                                    </div>#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-3 mb-5">
                                            <button class="btn btn-success mr-5">Save</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% include 'parts/_footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
{% include 'parts/jsfiles.html' %}


<script>
    $(document).ready(function () {
        $('#changepassword').click(function () {
            target = $('.passwordarea')
            if (target.attr('etat') == 'hidden') {
                target.attr('etat', 'show')
                target.show()
            } else {
                target.attr('etat', 'hidden')
                target.hide()

            }
        })
    })
</script>
</body>
</html>